:root {
  --black: #000;
  --white: #fff;

  --font-family-base: 'Josefin Sans', sans-serif;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;
  --font-size-xxxl: 56px;

  --color-primary: #cc0201;
  --color-secondary: #5ab7d4;
  --color-text-base: rgb(28, 49, 68);
  --color-text-sub: rgba(28, 49, 68, 0.5);
  --color-error: #e46a76;

  // --bg-color: #fcf7ff;
  --bg-color: #fff;

  --border-color: #eee;
  --border-rad-sm: 4px;
  --border-rad-md: 10px;
  --border-rad-lg: 20px;

  --box-shadow-1: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  --box-shadow-2: 0 0 6px rgba(0, 0, 0, 0.161);
  --box-shadow-3: 0 0 20px rgba(0, 0, 0, 0.161);

  --transition-short: 0.2s;
  --transition-middle: 0.3s;
  --transition-banner: transform 4s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  --padding-1: 68px;

  --margin-sm: 8px;
  --margin-md: 16px;
  --margin-lg: 24px;
  --margin-xl: 30px;

  --padding-top-header: 110px;
  --max-width: 1440px;
}

html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-md);
  font-weight: 400;
  color: var(--color-text-base);
  background-color: var(--white);
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

input,
textarea {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  font-family: var(--font-family-base);
  background-color: transparent;
}

// Fonts embeded
@font-face {
  font-family: Josefin Sans;
  src: url('/assets/fonts/JosefinSans-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: Josefin Sans;
  src: url('/assets/fonts/JosefinSans-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: Josefin Sans;
  src: url('/assets/fonts/JosefinSans-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: Josefin Sans;
  src: url('/assets/fonts/JosefinSans-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: Josefin Sans;
  src: url('/assets/fonts/JosefinSans-Bold.ttf');
  font-weight: 700;
}

// Scroll bar
html ::-webkit-scrollbar {
  border-radius: 0px;
  width: 6px;
  height: 6px;
}

html ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--color-primary);
}

html ::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
}

// --------- antd library ------------
.ant-empty-image {
  img {
    object-fit: contain;
  }
}

.ant-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

// table
td {
  vertical-align: middle;
}

// collapse
.ant-collapse {
  background-color: var(--color-primary);
  border-radius: 10px;
}

.ant-collapse-header {
  color: var(--white) !important;
}
