:root,
[data-theme='blue'] {
  --black: #000;
  --white: #fff;

  --font-family-base: 'Josefin Sans', sans-serif;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;
  --font-size-xxxl: 56px;

  --color-primary: #fff;
  --color-secondary: rgb(41, 182, 246);
  --color-cta: #1565c0;
  --border-color: rgba(41, 182, 246, 0.2);

  --color-text-base: rgb(28, 49, 68);
  --color-text-secondary: #fff;
  --color-text-sub: rgba(28, 49, 68, 0.5);

  --color-success: #52c41a;
  --color-warning: #faad14;
  --color-error: #ff4d4f;
  --color-info: #1677ff;

  --border-rad-sm: 4px;
  --border-rad-md: 10px;
  --border-rad-lg: 20px;

  --box-shadow-1: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  --box-shadow-2: 0 0 6px rgba(0, 0, 0, 0.161);
  --box-shadow-3: 0 0 20px rgba(0, 0, 0, 0.161);

  --transition-short: 0.2s;
  --transition-middle: 0.3s;
  --transition-banner: transform 4s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 36px;
  --space-xxl: 56px;

  --padding-top-header: 110px;
  --max-width: 1440px;
}

[data-theme='red'] {
  --color-primary: #fff6c3;
  --color-secondary: rgb(220, 0, 0);
  --color-cta: #850000;
  --border-color: rgba(220, 0, 0, 0.2);

  --color-text-base: rgb(28, 49, 68);
  --color-text-secondary: #fff;
  --color-text-sub: rgba(28, 49, 68, 0.5);
}

[data-theme='green'] {
  --color-primary: #282c16;
  --color-secondary: rgb(220, 253, 2);
  --color-cta: #b1cc02;
  --border-color: rgba(220, 253, 2, 0.2);

  --color-text-base: #fff;
  --color-text-secondary: #373c1f;
  --color-text-sub: rgba(255, 255, 255, 0.5);
}

[data-theme='dark'] {
  --color-primary: #2c3333;
  --color-secondary: rgb(165, 201, 202);
  --color-cta: #e7f6f2;
  --border-color: rgba(165, 201, 202, 0.2);

  --color-text-base: rgb(231, 246, 242);
  --color-text-secondary: #395b64;
  --color-text-sub: rgba(231, 246, 242, 0.5);
}

html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-md);
  font-weight: 400;
  color: var(--color-text-base);
  background-color: var(--white);
}

img {
  display: block;
  max-width: 100%;
  user-select: none;
}

a {
  text-decoration: none;
}

input,
textarea {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  font-family: var(--font-family-base);
  background-color: transparent;
}

// Fonts embeded
@font-face {
  font-family: Josefin Sans;
  src: url('/assets/fonts/JosefinSans-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: Josefin Sans;
  src: url('/assets/fonts/JosefinSans-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: Josefin Sans;
  src: url('/assets/fonts/JosefinSans-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: Josefin Sans;
  src: url('/assets/fonts/JosefinSans-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: Josefin Sans;
  src: url('/assets/fonts/JosefinSans-Bold.ttf');
  font-weight: 700;
}

// Scroll bar
html ::-webkit-scrollbar {
  border-radius: 0px;
  width: 6px;
  height: 6px;
}

html ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--color-secondary);
}

html ::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
}

// --------- antd library ------------
.ant-empty-image {
  img {
    object-fit: contain;
  }
}

// table
td {
  vertical-align: middle;
}

// collapse for the sidebar in the search page
.ant-collapse {
  background-color: var(--color-secondary);
  border-radius: 10px;
}

.ant-collapse-header {
  color: var(--color-text-secondary) !important;
}

.ant-badge {
  color: inherit;
}

.ant-btn {
  box-shadow: none;
}

// ---------- toastify library ---------

.Toastify__progress-bar--success {
  background-color: var(--color-success);
}
.Toastify__progress-bar--warning {
  background-color: var(--color-warning);
}
.Toastify__progress-bar--error {
  background-color: var(--color-error);
}
.Toastify__progress-bar--info {
  background-color: var(--color-info);
}
