@use '../../assets/sass/mixin.scss';

.emptyContent,
.filledContent {
  width: 100%;
  padding: 4px;
}

.emptyContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filledContent {
  max-height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  .body {
    flex: 1 1 auto;
    overflow-y: auto;
    border-bottom: 1px solid var(--border-color);
  }

  .footer {
    flex: 0 1 auto;

    .total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 16px;
      margin-bottom: 16px;

      .totalText {
        color: var(--color-text-base);
        font-size: var(--font-size-md);
      }

      .totalNumber {
        color: var(--color-text-base);
        font-size: var(--font-size-xl);
        font-weight: 600;
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 10px;
    }
  }
}

@media only screen and (max-height: 576px) {
  .filledContent {
    max-height: calc(100vh - 88px);
    position: fixed;
  }
}

@media only screen and (max-width: 576px) {
  .filledContent {
    height: calc(100vh - 88px);
    max-height: none;
  }
}
