.wrapper {
  background-color: var(--color-primary);

  .heading {
    color: var(--color-secondary);
    font-size: var(--font-size-xxl);
    font-weight: 700;
    margin-bottom: var(--space-md);
  }

  .infoCell {
    .name {
      display: block;
      color: var(--color-secondary);
      font-size: var(--font-size-lg);
      font-weight: 600;
      margin-bottom: var(--space-sm);
    }

    .info {
      color: var(--color-text-base);
      font-size: var(--font-size-md);
      margin-bottom: var(--space-sm);

      span {
        color: var(--color-text-sub);
      }
    }

    .price {
      font-size: var(--font-size-lg);
      font-weight: 600;
    }
  }

  .quantityCell {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .trahsIcon {
      margin-left: 20px;
      transition: all linear var(--transition-short);
      cursor: pointer;

      &:hover {
        color: var(--color-secondary);
      }
    }
  }

  .subPrice {
    font-size: var(--font-size-lg);
    font-weight: 600;
  }

  .tableFooter {
    text-align: end;

    .price {
      margin-bottom: var(--space-md);

      span:first-child {
        font-size: var(--font-size-md);
      }

      span:last-child {
        font-size: var(--font-size-xl);
        margin-left: 16px;
      }
    }

    .subInfo {
      color: var(--color-text-sub);
      font-size: var(--font-size-sm);
      margin-bottom: var(--space-lg);
    }

    button + button {
      margin-top: var(--space-md);
    }
  }
}
