.userMenu {
  .userItem {
    color: var(--color-text-base);
    padding: 6px 10px;
    transition: all linear 0.3s;
    cursor: pointer;

    &:hover {
      color: var(--color-primary);
    }

    p {
      transform: translateY(1.2px);
    }
  }
}
