.wrapper {
  .userInfo {
    margin-bottom: var(--space-xxl);
  }

  .userTable {
    .title {
      color: var(--color-secondary);
      font-size: var(--font-size-xl);
      font-weight: 700;
      margin-bottom: var(--space-lg);
    }
  }
}
