.wrapper {
  .userInfo {
    margin-bottom: var(--space-xxl);
  }

  .userFavorite,
  .userOrders {
    .title {
      color: var(--color-secondary);
      font-size: var(--font-size-xl);
      font-weight: 700;
      margin-bottom: var(--space-lg);
    }
  }

  .userFavorite {
    margin-bottom: var(--space-xxl);
  }
}
