.wrapper {
  margin-bottom: var(--space-md);

  .breadcrumb {
    & > ol > li > a {
      color: var(--color-text-sub);
      transition: all linear var(--transition-short);

      &:hover {
        color: var(--color-secondary);
      }
    }

    & > ol > li > span {
      font-weight: 600;
      color: var(--color-text-base);
    }
  }
}
