.wrapper {
  --space-bottom: 0px;
  background-color: var(--color-primary);

  .carousel {
    margin-bottom: calc(var(--space-bottom) + 60px);
  }

  .slider {
    margin-bottom: var(--space-bottom);
  }

  .banner1 {
    margin-bottom: calc(var(--space-bottom) + 30px);

    .image {
      img {
        height: 454px;
      }
    }
  }

  .banner2,
  .banner3 {
    margin-bottom: calc(var(--space-bottom) + 60px);
  }

  .banner3 {
    img {
      height: 340px;
    }
  }
}
