.wrapper {
  --space-bottom: 0px;
  background-color: var(--color-primary);

  height: 1000vh;

  .carousel {
    // margin-bottom: calc(var(--space-bottom) + 60px);
  }

  .slider {
    margin-bottom: var(--space-bottom);
  }

  .banner1 {
    margin-top: calc(var(--space-bottom) + 60px);
    margin-bottom: calc(var(--space-bottom) + 60px);
    max-height: 400px;
  }
  .banner1,
  .banner2,
  .banner3 {
    margin-bottom: calc(var(--space-bottom) + 60px);
  }
}

@media only screen and (max-width: 992px) {
  .wrapper {
    .carousel {
      display: none;
    }

    .banner1 {
      margin-top: calc(var(--space-bottom) + 110px);
      max-height: none;
      margin-bottom: 0;
    }
  }
}

.space {
  width: 100%;
  height: 80vh;
  background-color: rgba(255, 0, 0, 0.1);
}
