.wrapper {
  position: relative;
  border-radius: 16px;
  border: 1.6px solid rgba(18, 18, 18, 0.1);
  padding: 16px;
  transition: all ease 0.3s;

  &:hover {
    box-shadow: var(--box-shadow-3);
    padding-bottom: 66px;
    margin-bottom: -66px;

    .footer {
      display: flex;
    }

    .header {
      .detailBtn {
        display: block;
      }

      .image {
        transform: scale(1);
      }
    }
  }

  .header {
    position: relative;

    .image {
      object-position: center;
      transform: scale(0.9);
      transition: all ease 0.3s;
      user-select: none;
    }

    .detailBtn {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      animation: showDetailBtn ease 0.3s;
    }
  }

  .body {
    h3 {
      font-size: var(--font-size-md);
      margin-bottom: 10px;
    }

    p {
      font-size: var(--font-size-lg);
      color: var(--color-primary);
      margin-bottom: 10px;
    }
  }

  .footer {
    display: none;
    position: absolute;
    bottom: 16px;

    button + button {
      margin-left: 16px;
    }
  }
}

@keyframes showDetailBtn {
  from {
    transform: translate(-50%, -50%) scale(0.6);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
