@use '../../assets/sass/mixin.scss';

.wrapper {
  --padding-x: 16px;

  position: relative;
  background-color: var(--color-primary);
  border-radius: 16px;
  border: 1.6px solid var(--border-color);
  padding: var(--padding-x);
  transition: all ease 0.3s;

  &:hover {
    box-shadow: var(--box-shadow-3);
    padding-bottom: 66px;
    margin-bottom: -66px;

    .footer {
      display: flex;
    }

    .header {
      .saleTag {
        transform: scale(1.2);
        box-shadow: var(--box-shadow-1);
      }
      .detailBtn {
        display: block;
      }

      .image {
        transform: scale(1);
      }
    }
  }

  .header {
    position: relative;

    .top {
      position: absolute;
      inset: 0 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 100;

      .saleTag {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        text-align: center;
        background-color: var(--color-cta);
        color: var(--color-text-secondary);
        line-height: 1.2;
        transition: all linear var(--transition-short);

        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 100%;
          right: 0;
          left: 0;
          border-width: 0 24px 6px;
          border-style: solid;
          border-color: transparent var(--color-cta) transparent var(--color-cta);
        }
      }

      .likeBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-cta);
        border-color: var(--border-color) !important;
      }

      .lordIcon {
        @extend %lordIcon;
        --lord-icon-primary: var(--color-secondary);

        &.isLike {
          --lord-icon-primary: var(--color-text-secondary);
        }
      }
    }

    .image {
      object-position: center;
      transform: scale(0.9);
      transition: all ease 0.3s;
      user-select: none;
    }

    .detailBtn {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      animation: showDetailBtn ease 0.3s;
    }
  }

  .body {
    .name {
      font-size: var(--font-size-md);
      color: var(--color-text-base);
      margin-bottom: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p {
      font-size: var(--font-size-lg);
      color: var(--color-secondary);
      color: var(--color-text-secondary);
      margin-bottom: 10px;
    }

    .price {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;

      .mainPrice {
        color: var(--color-secondary);
        font-size: var(--font-size-lg);
      }

      .subPrice {
        text-decoration: line-through;
        color: var(--color-text-sub);
        font-size: var(--font-size-md);
        margin-left: 8px;
      }
    }
  }

  .footer {
    width: calc(100% - var(--padding-x) * 2);
    display: none;
    position: absolute;
    bottom: 16px;
  }
}

@keyframes showDetailBtn {
  from {
    transform: translate(-50%, -50%) scale(0.6);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
