.wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  transform: rotate(-50deg);

  .dot {
    width: 10px;
    height: 10px;
    background: var(--bg-dot);
    border-radius: 50%;
    box-shadow: var(--shadow-dot);
    animation: animate 3s linear infinite;
  }

  .line {
    width: 360px;
    height: 6px;
    background: var(--bg-line);
    transform-origin: right;
  }
}
