.wrapper {
  position: fixed;
  inset: 0 0 auto 0;
  background-color: transparent;
  z-index: 999;

  .container {
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
    margin: 0 auto;
  }

  .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 25%;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 50%;

    ul {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        color: var(--white);
        font-size: calc(var(--font-size-md) + 2px);
        margin: 0px 15px;
        padding: 12px 0px;
        text-align: center;
        text-transform: capitalize;
        transition: all linear 0.2s;

        & + & {
          margin-left: 15px;
        }

        &:hover {
          color: var(--color-primary);
        }
      }
    }
  }

  .icons {
    display: flex;
    align-items: center;
    flex: 0 0 25%;

    ul {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      li {
        display: inline-block;
        color: var(--white);
        font-size: var(--font-size-lg);
        margin-left: 15px;
        transition: all linear 0.2s;
        cursor: pointer;

        & + & {
          margin-left: 15px;
        }

        &:hover {
          color: var(--color-primary);
        }
      }
    }
  }
}
