@use '../../assets/sass/mixin.scss';

.wrapper {
  height: var(--padding-top-header);
  position: fixed;
  inset: 0 0 auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  transition: all linear var(--transition-short);
  z-index: 999;

  &.fixed {
    height: calc(var(--padding-top-header) - 24px);
    background-color: var(--color-primary);
    box-shadow: var(--box-shadow-1);

    .logo {
      filter: invert(1);
    }

    .nav ul a,
    .icons .icon {
      color: var(--color-text-base);
    }
  }

  &.index {
    .nav ul a,
    .icons .icon {
      color: var(--color-text-base);
    }

    .logo {
      filter: invert(0);
    }
  }

  &.fixed.index {
    .nav ul a,
    .icons .icon {
      color: var(--color-text-base);
    }

    .logo {
      filter: invert(1);
    }
  }

  .logo {
    width: 60px;
    filter: invert(1);
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;

    .active {
      color: var(--color-secondary) !important;

      &::after {
        width: 100%;
      }
    }

    ul {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        position: relative;
        // color text secondary
        color: var(--color-text-base);
        font-size: var(--font-size-md);
        font-weight: 600;
        margin: 0px 15px;
        padding: 12px 0px;
        text-align: center;
        text-transform: capitalize;
        transition: all linear var(--transition-short);

        &:hover {
          color: var(--color-secondary);
        }

        & + & {
          margin-left: 15px;
        }

        &::after {
          position: absolute;
          content: '';
          display: block;
          width: 0;
          height: 2px;
          bottom: 2px;
          left: 0;
          background-color: var(--color-secondary);
          transition: all linear 0.3s;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }

  .icons {
    display: flex;
    align-items: center;

    .icon {
      @extend %lordIcon;
    }

    .icon + .icon {
      margin-left: 20px;
    }

    .menuButton {
      display: none;
    }
  }
}

.drawer {
  li {
    margin-bottom: var(--space-xl) !important;

    a {
      font-size: var(--font-size-xl);

      &:hover {
        color: var(--color-secondary) !important;
      }

      &.active {
        color: var(--color-secondary) !important;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .wrapper {
    .icons {
      .menuButton {
        display: block;
      }
    }

    .nav {
      display: none;
    }
  }
}
