:root {
  --red: #ff3838;
  --white: #ffffff;
  --black: #000000;

  --red-one: #cb356b;
  --red-two: #bd3f32;

  --green-one: #56ab2f;
  --green-two: #94d049;

  --black-one: #232526;
  --black-two: #70767b;

  --blue-one: #021b79;
  --blue-two: #0575e6;

  --silver: #bdc3c7;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-base);
}

.bgRed {
  background-color: var(--red);
}

.bgWhite {
  background-color: var(--white);
}

.bgBlack {
  background-color: var(--black);
}

.bgBlue {
  background-color: var(--blue-one);
}

.bgGreen {
  background-color: var(--green-one);
}

body,
html {
  margin: 0;
  padding: 0;
  // height: 100vh;
  // overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.row:after,
.row:before {
  box-sizing: border-box;
}

.col6 {
  width: 50%;
  position: relative;
}

.slider {
  overflow: hidden;
  height: 500%;
}

.fullheight {
  height: 100vh;
}

.productImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.imgWrapper img {
  height: auto;
  width: 80%;
  transform: rotate(-35deg);
}

.moreImages {
  position: absolute;
  right: 90px;
  top: 50%;
}

.moreImagesItem {
  height: fit-content;
  border-radius: 15px;
  overflow: hidden;
  margin: 5px 0;
}

.moreImagesItem img {
  height: auto;
  width: 80px;
  border-radius: 15px;
  transition: 1s;
}

.moreImagesItem:hover img {
  transform: scale(1.5);
}

.moreImagesItem:hover {
  cursor: pointer;
}

.productInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 10%;
  color: var(--silver);
}

.infoWrapper {
  margin: auto;
  position: relative;
  text-align: right;
}

.productName h2 {
  font-weight: 900;
  font-size: xxx-large;
  color: var(--color-secondary);
}

.productPrice {
  font-weight: 900;
  font-size: xx-large;
  color: var(--black);
  margin-bottom: 12px;
}

.productPrice span {
  font-size: large;
  color: var(--black-two);
}

.productSize {
  margin: 20px 0;
}

.sizeWrapper {
  display: flex;
  flex-flow: row-reverse;
  padding: 5px;
}

.sizeWrapper div {
  font-weight: 900;
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 13px;
  border: 2px solid var(--silver);
  color: var(--silver);
  line-height: 1.6;
}

.sizeWrapper div.active {
  border: 2px solid var(--black);
  color: var(--black);
}

.sizeWrapper div:hover {
  border: 2px solid var(--black);
  color: var(--black);
  cursor: pointer;
}

.colorWrapper {
  display: flex;
  flex-flow: row-reverse;
  padding: 5px;
}

.colorWrapper > div {
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid var(--silver);
  background-color: var(--silver);
}

.colorWrapper > div.active {
  border: 2px solid var(--black);
}

.colorWrapper > div:hover {
  cursor: pointer;
  border: 2px solid var(--black);
}

.colorWrapper > div > div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.productDescription {
  margin: 30px 0;
  text-align: justify;
  font-weight: 600;
}

.button > button {
  font-weight: 900;
  font-size: x-large;
  padding: 15px 60px;
  border-radius: 30px;
  border: 2px solid var(--color-secondary);
  background-color: var(--color-primary);
  color: var(--color-secondary);
  transition: 0.5s;
}

.button > button:hover {
  cursor: pointer;
  background-color: var(--color-secondary);
  color: var(--color-text-secondary);
}

.imgCol {
  border-bottom-left-radius: 100%;
}

.slideControl {
  display: flex;
  padding: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.slideControl div {
  height: 50px;
  width: 50px;
  margin: 10px;
  border-bottom: 2px solid transparent;
  transition: 0.5s;
}

.slideControl div:hover {
  cursor: pointer;
  transform: translateY(-30px);
  border-bottom: 2px solid var(--color-secondary);
}

.slideControl div img {
  height: auto;
  width: 100%;
  filter: grayscale(100%);
  transform: rotate(-45deg);
}

.slideControl div:hover img {
  filter: unset;
}

.slideControl div.active img {
  filter: unset;
}

.slideControl div.active {
  border-bottom: 2px solid var(--black);
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modalContent {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modalContent {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: var(--white);
  font-size: 40px;
  font-weight: 900;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: var(--silver);
  text-decoration: none;
  cursor: pointer;
}

.navbar {
  background-color: transparent;
  padding: 10px 90px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  display: flex;
}

.navbar a {
  float: left;
  color: var(--white);
  text-decoration: none;
  font-size: 14px;
  font-weight: 900;
  padding: 12px;
  text-transform: uppercase;
}

.navbar .logo {
  font-size: 30px;
  flex: 1;
  color: var(--black);
}

.navbarRight a:hover {
  color: var(--black);
  border-bottom: 2px solid var(--black);
}

.navbarRight a.active {
  color: var(--black);
  border-bottom: 2px solid var(--black);
}

.navbarRight a {
  transition: 0.5s;
}

.cart {
  position: relative;
}

.cart i {
  font-size: x-large;
}

.badge {
  position: absolute;
  top: 0;
  right: 1px;
  font-size: 12px;
  background-color: var(--red);
  width: 20px;
  height: 20px;
  padding: 2px;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
}

/*  ANIMATION */

.rightToLeft {
  transition: 1s;
  transform: translateX(100%);
}

.active .rightToLeft {
  transform: translateX(0);
}

.bottomUp {
  transition: 1s;
  transform: translateY(100vh);
}

.active .bottomUp {
  transform: translateY(0);
}

.leftToRight {
  transition: 1s;
  transform: translateX(-150%);
}

.active .leftToRight {
  transition: 1s;
  transform: translateX(0);
}

.moreImagesItem:nth-child(1) {
  transition-delay: 0.2s;
}

.moreImagesItem:nth-child(2) {
  transition-delay: 0.4s;
}

.moreImagesItem:nth-child(3) {
  transition-delay: 0.6s;
}

.moreImagesItem:nth-child(4) {
  transition-delay: 0.8s;
}

.infoWrapper > div:nth-child(1) {
  transition-delay: 0.2s;
}

.infoWrapper > div:nth-child(2) {
  transition-delay: 0.4s;
}

.infoWrapper > div:nth-child(3) {
  transition-delay: 0.6s;
}

.infoWrapper > div:nth-child(4) {
  transition-delay: 0.8s;
}

.infoWrapper > div:nth-child(5) {
  transition-delay: 1s;
}

.infoWrapper > div:nth-child(6) {
  transition-delay: 1.2s;
}

.bounce {
  animation-name: bounce;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
