.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
  overflow: hidden;

  background: rgb(45, 45, 50);
  background: linear-gradient(151deg, rgba(45, 45, 50, 1) 0%, rgba(13, 14, 19, 1) 100%);

  .backgroundNike {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #14141a;
    font-size: 400px;
    font-weight: 700;
    z-index: 2;
  }

  .slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 21;

    .infoContainer {
      width: 30%;
    }

    .mainShoeContainer {
      width: 50%;
    }

    .navContainer {
      width: 20%;
    }
  }
}
