.wrapper {
  margin-top: 25px;
  .container {
    background: url('https://cdn.shopify.com/s/files/1/0567/9169/5421/files/footer_1920x721.jpg?v=1650368832');
    .header {
      padding-top: 60px;
      text-align: center;
      font-size: 25px;
      h1 {
        color: white;
      }
      p {
        color: white;
        margin-top: 15px;
      }
      .contactEmail {
        width: 70%;
        margin-left: 20%;
        .sub {
          background-color: aqua;
        }
      }
    }
    .body {
      display: flex;
      justify-content: space-around;
      .item {
        h1 {
          font-size: 30px;
          color: white;
          margin-bottom: 15px;
        }
        ul {
          li {
            color: white;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
  .footer {
    background-color: red;
    padding: 10px;
    .content {
      display: flex;
      justify-content: space-between;
      margin: 0 5%;
      .contentLeft {
        display: flex;
        align-items: center;
        span {
          margin: 0 3px;
        }
      }
    }
  }
}
