.wrapper {
  background-image: linear-gradient(214deg, #00dbde 0%, #fc00ff 100%);
  clip-path: url(#nike);
  margin-top: 34px;
  z-index: 11;

  &,
  .video,
  .overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  .video {
    object-fit: cover;
    transform: scale(1.3) rotate(200deg) translate(-150px, -100px);

    z-index: 12;
  }

  .overlay {
    background-image: linear-gradient(214deg, #00dbde 0%, #fc00ff 100%);
    opacity: 0.4;
    z-index: 13;
  }
}
