.wrapper {
  background-color: var(--bg-color);

  .left,
  .right {
    display: inline-block;
    border: none;
    border-radius: 100%;
    box-shadow: var(--box-shadow-2);
    width: 40px;
    height: 40px;
    background: var(--bg-color);
    transition: all linear var(--transition-short);
    cursor: pointer;

    &:hover {
      background-color: var(--color-primary);
    }

    &:hover div {
      border-color: var(--white);
    }

    &:hover div::after {
      background-color: var(--white);
    }
  }

  .longArrow {
    display: block;
    width: 8px;
    height: 8px;
    border-top: 2px solid var(--color-primary);
    border-left: 2px solid var(--color-primary);
    transform: translateX(6px) rotate(135deg);
    transition: all linear var(--transition-short);

    &::after {
      content: '';
      display: block;
      width: 2px;
      height: 30px;
      background-color: var(--color-primary);
      transform: rotate(-45deg) translate(10px, 4px);
      left: 0;
      top: 0;
      transition: all linear var(--transition-short);
    }
  }

  .left {
    transform: rotate(180deg);
  }

  .right {
    margin-left: 30px;
  }

  .header {
    padding: 0 10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 6px;

    .title,
    .subTitle {
      font-size: var(--font-size-xl);
      font-weight: 700;
    }

    .title {
      color: var(--color-primary);
      margin-right: 10px;
    }
  }

  .swiper {
    padding: 14px 10px var(--padding-1);
    margin-left: -10px;
    margin-right: -10px;
  }
}
